<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
    We use quartz.config for this server, you can always use configuration section if you want to.
    Configuration section has precedence here.  
  -->
  <!--
  <quartz >
  </quartz>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DataBase" connectionString="Data Source=192.168.20.188;Initial Catalog=I200;Persist Security Info=True;User ID=sa;Password=m123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="SysAddresss" value="http://localhost:46068/MessageSending/SendingMsgByService?id=5"/>-->
    <add key="SysAddresss" value="http://192.168.20.137:5050/MessageSending/SendingMsgByService?id=5"/>  <!--浩哥本地测试站点-->
    <add key="SysApi" value="http://api.yuanbei.biz/"/>
  </appSettings>
</configuration>